%%% -*- mode: erlang -*-

{require_otp_vsn, "R13B04|R14|R15"}.

{erl_first_files, ["src/contract_lex.erl"
                   , "src/contract_yecc.erl"
                   , "src/ubf_utils.erl"
                   , "src/contract_parser.erl"
                   , "src/ubf_types_builtin.erl"
                  ]}.
{erl_opts, [warnings_as_errors, {platform_define, "R13B04|R14|R15A", 'old_callbacks'}]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{eunit_first_files, ["test/eunit/types_plugin.erl"]}.

{qc_first_files, ["test/eunit/types_plugin.erl"]}.

{deps, [{qc, "", {git, "git://github.com/norton/qc.git"}}]}.
