%%% -*- mode: erlang -*-

%% Require OTP version R13B04 or R14
{require_otp_vsn, "R13B04|R14"}.

%% Erlang files to compile before the rest.
{erl_first_files, ["src/contract_lex.erl", "src/contract_yecc.erl"]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors
           ]}.

%% Test Erlang files to compile before the rest.
{eunit_first_files, ["src/contract_lex.erl", "src/contract_yecc.erl", "test/eunit/types_plugin.erl"]}.

%% EUnit options
{eunit_opts, [verbose]}.
